*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-Soft-blue: hsl(215, 51%, 70%);
  --main-Cyan: hsl(178, 100%, 50%);
  --main-Very-dark-blue: hsl(217, 54%, 11%);
  --main-Very-dark-blu: hsl(216, 50%, 16%);
  --main-Very-dark-blue: hsl(215, 32%, 27%);
  --main-White: hsl(0, 0%, 100%);
}
body {
background-color: var(--main-Very-dark-blu);
font-family: 'Outfit', sans-serif;  
}
/* Small */
@media (min-width: 768px) {
.container {
  width: 750px;
}
}
/* Medium */
@media (min-width: 992px) {
.container {
  width: 970px;
}
}
/* Large */
@media (min-width: 1200px) {
.container {
  width: 1170px;
}
}
.container {
width: 293px;
margin: auto;
text-align: center;
}
.container .wrapper {
padding-top: 40px;
padding-bottom: 40px;
}
.container .coin {
  align-items: center;
  text-align: center;
  position: relative;
  background-color: var(--main-Very-dark-blue);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  width: 290px;
  height: 510px;
  box-shadow: -1px 15px 30px -12px black ;
  transform:translatex(-50) ;
  -webkit-transform:translatex(-50) ;
  -moz-transform:translatex(-50) ;
  -ms-transform:translatex(-50) ;
  -o-transform:translatex(-50) ;
}
.container .coin .one {
  height: 270px;
  width: 270px;
  margin-top: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.container h2 {
  color: var(--main-White);
  left: 0;
  font-size: 18px;
  margin-right: 120px;
}
.container .two {
  color: var(--main-Soft-blue);
  margin-top: -10px;
  display: block;
}
.container .data {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: 700;
}
.container .span {
  margin-right: 10px;
}
.container .span-two {
  color: aqua;
  
}
.container .hr {
  width: 270px;
  border-color: hsl(215, 32%, 27%);
}
.container .photo {
  padding-right: 5px;
  margin-bottom: -3px;
}
.container .photo-two {
  padding: 0%;
  margin-bottom: -3px;
}
.container .last {
  display: flex;
  justify-content: space-between;
  margin-top: -20px;
}
.container .last-one {
  height: 40px;
  border: 1px solid white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-left: 25px;
  position: absolute;
  margin-top: 20px;
}
.container .last .creat {
  text-align: center;
  position:absolute;
  margin-left: 100px;
  margin-top: 30px;
  color: white;
}
.container .last-last {
  color: hsl(215, 51%, 70%);
  padding-right: 4px;
}




