@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
}

.card {
  width: 330px;
  background-color: hsl(216, 50%, 16%);
  margin: 50px auto;
  border-radius: 12px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nft-img {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  /* background-color: cyan; */
}

.layer {
  background-color: cyan;
  width: 290px;
  height: 290px;
  position: absolute;
  z-index: 1;
  border-radius: 12px;
  margin: 50% auto;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.layer img {
  width: 70px;
  height: 70px;
}

/* .detail {
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 999;
  opacity: 0;
} */

.nft-img img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 12px;
  padding: 5px;
  position: relative;
  box-sizing: border-box;
}

.description {
  padding: 8px;
}

.description h3 {
  font-weight: 600;
  color: white;
  margin: 6px 0;
}

.description p {
  font-weight: 300;
  font-size: 18px;
  color: hsl(215, 51%, 70%);
  margin: 15px 0;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* margin: 14px 0; */
  padding: 8px;
}

.info .price {
  display: flex;
  width: 50%;
}

.info .price h4 {
  color: cyan;
  font-weight: 600;
}

.info .price img {
  margin-right: 5px;
}

.info .time {
  display: flex;
  width: 50%;
  justify-content: end;
}

.info .time img {
  margin-right: 5px;
}

.info .time p {
  font-size: 15px;
  font-weight: 400;
  color: hsl(215, 51%, 70%);
}

.card .container .line {
  /* display: block; */
  width: 95%;
  /* border: 0.1px solid hsl(215, 51%, 70%); */
  border-top: 0.1px;
  margin: 15px 5px 10px 5px;
  opacity: 0.5;
}

.user {
  display: flex;
  padding: 2px 4px;
  align-items: center;
  color: hsl(215, 51%, 70%);
  margin-bottom: 5px;
}

.user img {
  max-width: 8%;
  border: 1px solid white;
  border-radius: 100%;
  margin-right: 14px;
}

.user p {
  font-weight: 400;
  font-size: 12px;
}

.user p span {
  color: white;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* active */
.description h3:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}

.user p span:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.layer:hover {
  opacity: 0.8;
  cursor: pointer;
}

